
# OBRIGATÓRIO
OPENAI_API_KEY=

# RECOMENDADO
# LLM principal dos serviços Briefing Enhancer Service e Legal Service.
# Obtenha em https://plataforma.maritaca.ai
MARITACA_API_KEY=

# OPCIONAL
# Necessário apenas se desejar usar reranking, que está desabilitado por padrão.
# Obtenha em https://cohere.com
COHERE_APIKEY=
RERANK_ENABLED=false

# OPCIONAL 
# Necessário apenas para gerar traces dos agentes. 
# Obtenha em https://www.langchain.com 
LANGCHAIN_TRACING_V2=false
LANGCHAIN_API_KEY=