DATABASE_URL=postgresql://user:password@localhost:5432/campaigns_service
AUTH_SERVICE_URL=http://localhost:8002
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_ENDPOINT_URL=http://localhost:4566
S3_PUBLIC_URL=http://localhost:4566
S3_BUCKET_NAME=orqestra-creative-pieces
